body {
    padding-top: 70px;
}

.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}
.navbar.isModified a {
    padding:0 15px;
    line-height:80px;    
}

#errorMsg{
    padding-top: 10;
    float: none;
}

#username {
    padding:0 15px;
    line-height:50px;
    display: inline-block;
    float: none;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    text-decoration: none;
    color: whitesmoke;
    font-size: 2em;
}