html, body {
    padding-top: 50px;
    height: 100%;
    width: 100%;
}

.product_view .modal-dialog{
    max-width: 800px; width: 100%;
}

.pre-cost{
    text-decoration: line-through; 
    color: #a5a5a5;
}

.space-ten{
    padding: 10px 0;
}

.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;   
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}

tbody tr td img {
    height: 200px;
    width: 200px;
}

div.panel-heading {
    text-align: center;
}

table{
    text-align: center;
}
table thead tr th{
    text-align: center;
}

div.form-group img{
    height:200px;
    width: 200px;
}
div.container {
    height: 90%;
    width: 90%;
}

div.admin-panel {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
div.admin-panel-item{
    margin: 0 15px 15px;
    box-sizing: border-box;
    flex: 1;
}


div.modal-header.tile{
    text-align: center;
    padding:35px 50px;
    height: 100px;
}

div.modal-body.tile{
    height: 150px;
    text-align: center;
}

div.modal-body.tile p {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

div.modal-footer{
    height: 70px;
}

div.loggedUser {
    text-align: center;
}